<div id="img">
  <img src="../assets/img/burger.png" id="burgimg">
</div>

<h1>Eat-Da-Burger!</h1>

<ul>
  {{#each burgers}} {{#unless devoured}} {{> burger-block devoured=false}} {{/unless}} {{/each}}
</ul>

<ul>
  {{#each burgers}} {{#if devoured}} {{> burger-block devoured=true}} {{/if}} {{/each}}
</ul>

<form class="create-form">
  <div class="form-group">
    <input type="text" id="burg" name="name">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>

  <h3>Enter a burger you want to eat. Click "Submit"!</h3>
</form>